    ul {
    list-style-type: none;
    margin: 0;
    height: 50px;
    box-sizing: border-box;
    _margin: 20px;
    _margin-top: 30px;
    _padding-right: 125px;
    overflow: hidden;
    background-color: gray;
    float: right;
}

li {
    float: left;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: green;
    color: white;
  }

body{
    margin-bottom: 5.5em;
   }

#video-background{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
}

#pipe{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#pipe2{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

h1{
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    float: left;
    margin: 0;
    height: 50px;
    padding: 11px 10px;
    box-sizing: border-box;
    _width: 960px;
    _padding: 20px;
    _margin-bottom: 20px;
    _margin-left: 20px;
    _margin-left: auto;
    color: white;
    background-color: green;
    border-style: hidden;
    border-radius: 30px 30px;
} 

h2{
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    color: white;
}

p{
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    line-height: 2.0;
    color: white;
}

#coffeeme{
    width: 200px;
    height: 200px;
    padding-top: 15px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 10px;
    float: left;
}

.full{
  width: 960px;
  position: relative;
  left: 50%;
  _margin-right: -50%;
  transform: translate(-50%, -50%)
}

#top{
    width: 100%;
    _width: 960px;
    margin: 0 auto;
    overflow: auto;
    clear: both;
    background: GRAY;
    OPACITY: .85;
    border-style: hidden;
    border-radius: 10px 10px;
}

#main{
    padding: 25px;
    _margin: 150px;
    margin: 0 auto;
    margin-top: 50px;
    background: grey;
    border-style: hidden;
    border-radius: 15px 50px;
    opacity: .88;
    width: 960px;
    box-sizing: border-box;
    padding-top: initial;
}

#main2{
  _padding: 25px;
  margin: 0 auto;
  width: 960px;
  display: flex;
  flex-wrap: wrap;
  _justify-content: center;
  background: grey;
  border-style: hidden;
  border-radius: 15px 50px;
  opacity: .88;
  width: 960px;
  box-sizing: border-box;
  padding-top: initial;
}

#headport{
display: flex;
flex-wrap: wrap;
width: 960px;
margin-left: 25px;
}

#linebreak{
  display: block;
  width: 900px;
  margin-left: 25px;
}

.wrapper {
    display: inline-flex;
    justify-content: center;
    width: 960px;
    margin: 0 auto;
    position: absolute;
    right: 0;
    left: 0;
    font-size: 40px;
  }

  .wrapper i {
    padding: 10px;
    text-shadow: 0px 6px 8px rgba(0, 0, 0, 0.6);
    transition: all ease-in-out 150ms;
  }

  .wrapper a:nth-child(1) {
    color: #dd4b39;
  }

  .wrapper a:nth-child(2) {
    color: #4867AA;
  }

  .wrapper a:nth-child(3) {
      color: rgba(255, 196, 0, 0.87);
    }

  .wrapper i:hover {
    margin-top: -3px;
    text-shadow: 0px 14px 10px rgba(0, 0, 0, 0.4);
  }

footer{
    background-color: gray;
    text-align: center;
    color: white;
    width: 100%;
    opacity: .85;
    border-style: hidden;
    border-radius: 10px 10px;
    bottom: 0;
    position: fixed;
    box-sizing: border-box;
    padding: 2px;
}

/*Noted below for contact area*/
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color:green;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  /*Notes end for contact area*/

  #port-top{
    float: left;
  }

  .pitem{
    width: 300px;
    height: 300px;
    margin: 2em;
    background-size: cover;
    position: relative;
    /* float: left; */
  }

  #port1{
    background-image: url("hangman.jpg");
  }

  #port2{
    background-image: url("rpg.jpg")

  }

  #port3{
    background-image: url("trivia.jpg")
  } 

  #port4{
    background-image: url("riw.jpg")
  }

  #port5{
    background-image: url("psr.jpg")
  }

 .pitem h4{
    position: absolute;
    bottom: 0;
    font-size: 20px;
    text-align: center;
    font-variant: small-caps;
    background-color: green;
    opacity: .88;
    color: white;
    width: 100%;
    border-style: hidden;
    border-radius: 30px 30px;
  }